/SoccerUnity/Assets/Player/Bots/Goalkeeper/Model/Puma_Glove_One_4_FBX.fbx filter=lfs diff=lfs merge=lfs -text
/SoccerUnity/Assets/Player/Bots/Goalkeeper/Model/Puma_One4_Normal_normals.TIF filter=lfs diff=lfs merge=lfs -text
